@import "../global/_variables.scss";

// color : #6f6f6f , #0000 , #767676 , #8d8d8d , #ababab , #bdbdbd

.main-wrapper {
  display: flex;
  min-height: 100vh;
  font-size: 0.9rem;
  position: relative;

    .logout-popup{
      color: #767676;
      background: #fff;
      border: 1px solid #d9d9d9;
      position: fixed;
      border-radius: 3px;
      transform: translate(-50%,-50%);
      top: 52%;
      left: 50%;
      z-index: 9999;
      transition: all 0.3s ease;
      visibility: hidden;
      opacity: 0;
      font-size: 1.1rem;
      .logout-txt{
        padding:2rem 1.5rem;
        border-radius: 3px;
      }
      .logout-btn{
        display: flex;
        position: relative;
        border-top: 1px solid #d9d9d9;
        .logout,.cancel{
          mix-blend-mode: difference;
          cursor: pointer;
          width: 100%;
          text-align: center;
          padding:0.8rem 1rem;
          transition: all 0.2s ease;
          z-index: 2;
          color: red;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.3rem;
        }
        .background {
          position: absolute;
          top: 0;
          left: 0%;
          width: 50%;
          height: 100%;
          z-index: 1;
          background-color: #000;
          transition: all 0.3s ease-in-out;
        }
      }
    }
    .show-logout{
      visibility: visible;
      opacity: 1;
      top: 50%;
    }

  .r-sidebar {
    transform: translate(-100%,0);
    z-index: 99;
    background: #fff;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #fff;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all 0.3s ease;
    
    .r-sidebar-logo{
      position: absolute;
      top: 5%;
      width: 100%;
      display: flex;
      justify-content: center;
      h2{
        border: 1px solid #d9d9d9;
        padding: 1rem;
        color: #767676;
        border-radius: 50%;
      }
    }
    
    .r-sdbr-icon {
      display: flex;
      gap: 0.5rem;
      font-size: 1.2rem;
      padding: 1rem;
      text-align: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s ease;
      color: #333;
      &:hover{
        color: #fff;
      }
      span{
        display: flex;
        align-items: center;

      }
    }
    .overlay{
      z-index: -1;
      transition: all 0.3s ease;
      position: absolute;
      background: #222;
      opacity: 0;
    }
  }

  .mid-wrapper {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .mid-top-cont {
      width: 100%;
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      color: #767676;

      .mid-top-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .nav {
          display: flex;
          align-items: center;
          gap: 1rem;
          .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            padding: 1rem;
            border: 1px solid #bdbdbd;
          }
          ul {
            gap: 1rem;
            display: flex;
            align-items: center;
            li {
              cursor: pointer;
              padding: 0.2rem 1rem;
              border-radius: 3px;
              border: 1px solid #bdbdbd;
            }
            .notify {
              border: none;
            }
          }
        }

        .hello-wrp {
          border-radius: 3px;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          color: #fff;
          background: #6f6f6f;
          padding: 1rem;
        }
      }
      .mid-top-right {
        width: 15rem;
        height: 12rem;
        border: 1px solid#bdbdbd;
        position: relative;
        border-radius: 3px;
        &::before {
          content: "";
          position: absolute;
          bottom: 50%;
          width: 100%;
          height: 0.5px;
          background-color: #6f6f6f;
          transform: rotate(-45deg);
        }
        .streak,
        .credit {
          font-size: 1.1rem;
          position: absolute;
        }
        .streak {
          top: 10%;
          left: 10%;
        }
        .credit {
          right: 10%;
          bottom: 10%;
        }
      }
    }

    .tags-wrp {
      width: 100%;
      gap: 1rem;
      display: flex;
      margin: 1rem 0;
      align-items: center;
      flex-wrap: wrap;

      .diff,
      .class,
      .topic {
        padding: 0.5rem 1rem;
        background: #6f6f6f;
        color: #fff;
        border-radius: 3px;
        display: flex;
        gap: 0.5rem;
        position: relative;
        cursor: pointer;

        .diff-ls,
        .class-ls,
        .topic-ls {
          top: 105%;
          left: 0;
          background: #000;
          border-radius: 3px;
          display: flex;
          flex-direction: column;
          position: absolute;
          display:none;
          // opacity: 0;
          // visibility: hidden;
          transition: all 0.2s ease;

          .ls {
            cursor: pointer;
            padding: 0.7rem 1rem;
            transition: all 0.3s ease;
            &:hover {
              background: #fff;
              color: #767676;
            }
          }
        }
        .class-ls {
          width: 7rem;
        }
        .topic-ls {
          padding: 1rem;
          gap: 0.7rem;
          font-size: 0.9rem;
          flex-wrap: wrap;
          flex-direction: row;
          width: 20rem;
          .ls {
            padding: 0.4rem 1rem;
            border-radius: 30px;
            background: #fff;
            color: #767676;
          }
        }
        .active {
          top: 100%;
          // opacity: 1;
          // visibility: visible;
           display:flex;
        }
      }
      .search {
        padding: 0 1rem;
        border: 1px solid #eee;
        border-radius: 20px;
        display: flex;
        align-items: center;
        input {
          border: none;
          padding: 0.7rem 1rem;
          &:focus {
            outline: none;
          }
        }
      }
    }

    .filter-tags{
      flex-wrap: wrap;
      display: flex;
      gap: 0.7rem;
      border-radius: 3px;
      width: 100%;
      margin-bottom: 1rem;
      .tags{
        display: flex;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        background: #d9d9d9;
        span{cursor: pointer;}
      }
    }

    .todo-atmp-slvd-wrp {
      width: 100%;
      display: flex;
      gap: 1rem;
      .todo,
      .attmp,
      .slvd {
        cursor: pointer;
        color: #fff;
        padding: 0.5rem 1rem;
        background: #767676;
      }
    }

    .prblm-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .prblm-info {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        color: #6f6f6f;
        background: #d9d9d9;
        padding: 1rem;
        gap: 1rem;
      }
      .prblm-card {
        gap: 1rem;
        display: grid;
        grid-template-columns: 2rem 5fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
          rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        padding: 0.85rem;
        border-left: 3px solid #6f6f6f;
        cursor: pointer;

        .submission,.likes,.difficulty{
          text-align: center;
        }
      }
    }
  }

  .l-sidebar {
    width: 26rem;
    border: 1px solid #eee;
    transition: all 0.3s ease-in;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    gap: 1.2rem;
    background: #fff;

    .user-img-name {
      color: #767676;
      padding: 2rem 0 0 0;
      text-align: center;
      img {
        width: 5rem;
        border-radius: 50%;
      }
    }
    .ttl-acry-wrp {
      display: flex;
      gap: 0.7rem;
      .ttl,
      .acry {
        padding: 0.5rem;
        background: #d9d9d9;
        color: #767676;
        border-radius: 5px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      }
    }
    .esy-mdm-hrd {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      .emh {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        .emh-dtl {
          display: flex;
          justify-content: space-between;
        }
        .emh-pgrs {
          border: 1px solid #d9d9d9;
          height: 0.85rem;
          border-radius: 10px;
          position: relative;
          .pgrs {
            position: absolute;
            width: 56%;
            height: 100%;
            border-radius: 10px;
            background: #ababab;
          }
        }
      }
    }
    .tst-ntfy-wrp {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      div {
        padding: 0.8rem 0.5rem;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        gap: 0.4rem;
        color: #8d8d8d;
        background: #d9d9d9;
      }
    }
  }

  .profile-icon-div {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .main-wrapper {
    .l-sidebar {
      width: 100%;
      right: 0;
      position: fixed;
      background: #fff;
      transform: translate(100%);
    }
    .profile-toggle {
      transform: translate(0);
    }
    .profile-icon-div {
      position: absolute;
      top: 2%;
      right: 2%;
      display: flex;
      gap: 0.5rem;
      padding: 0.7rem 1rem;
      border-radius: 20px;
      border: 1px solid #d9d9d9;
      cursor: pointer;
      background: #fff;
    }
  }
}

@media screen and (max-width: 786px) {
  .main-wrapper {
    .mid-wrapper {
      .mid-top-cont {
        .mid-top-left{
          gap: 1rem;
        }
        .mid-top-right {
          display: none;
        }
      }
    }
  }
}

