.main-wrapper {
  border: 1px solid red;
  display: flex;
  min-height: 100vh;
  font-size: 0.9rem;
}
.main-wrapper .r-sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(153, 153, 153, 0.6);
  border-bottom: 1px solid #fff;
  min-height: 100vh;
  gap: 0.5rem;
  padding-left: 0.5rem;
}
.main-wrapper .r-sidebar .r-sdbr-icon {
  display: flex;
  border-radius: 20px 0 0 20px;
  font-size: 1.3rem;
  padding: 0.7rem;
  text-align: center;
  color: #6f6f6f;
  cursor: pointer;
  transition: all 0.3s ease;
}
.main-wrapper .r-sidebar .overlay {
  position: absolute;
  background-color: #000;
  z-index: -1;
  transition: all 0.3s ease;
  opacity: 0;
  border-radius: 20px 0 0 20px;
}
.main-wrapper .r-sidebar .overlay-active {
  opacity: 1;
}
.main-wrapper .mid-wrapper {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-wrapper .mid-wrapper .mid-top-cont {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  color: #767676;
}
.main-wrapper .mid-wrapper .mid-top-cont .mid-top-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-wrapper .mid-wrapper .mid-top-cont .mid-top-left .nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main-wrapper .mid-wrapper .mid-top-cont .mid-top-left .nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 1rem;
  border: 1px solid #bdbdbd;
}
.main-wrapper .mid-wrapper .mid-top-cont .mid-top-left .nav ul {
  gap: 1rem;
  display: flex;
  align-items: center;
}
.main-wrapper .mid-wrapper .mid-top-cont .mid-top-left .nav ul li {
  cursor: pointer;
  padding: 0.2rem 1rem;
  border-radius: 3px;
  border: 1px solid #bdbdbd;
}
.main-wrapper .mid-wrapper .mid-top-cont .mid-top-left .nav ul .notify {
  border: none;
}
.main-wrapper .mid-wrapper .mid-top-cont .mid-top-left .hello-wrp {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #fff;
  background: #6f6f6f;
  padding: 1rem;
}
.main-wrapper .mid-wrapper .mid-top-cont .mid-top-right {
  width: 15rem;
  height: 12rem;
  border: 1px solid #bdbdbd;
  position: relative;
  border-radius: 3px;
}
.main-wrapper .mid-wrapper .mid-top-cont .mid-top-right::before {
  content: "";
  position: absolute;
  bottom: 50%;
  width: 100%;
  height: 0.5px;
  background-color: #6f6f6f;
  transform: rotate(-45deg);
}
.main-wrapper .mid-wrapper .mid-top-cont .mid-top-right .streak,
.main-wrapper .mid-wrapper .mid-top-cont .mid-top-right .credit {
  font-size: 1.1rem;
  position: absolute;
}
.main-wrapper .mid-wrapper .mid-top-cont .mid-top-right .streak {
  top: 10%;
  left: 10%;
}
.main-wrapper .mid-wrapper .mid-top-cont .mid-top-right .credit {
  right: 10%;
  bottom: 10%;
}
.main-wrapper .mid-wrapper .tags-wrp {
  width: 100%;
  gap: 1rem;
  display: flex;
  margin: 1rem 0;
  align-items: center;
  flex-wrap: wrap;
}
.main-wrapper .mid-wrapper .tags-wrp .diff,
.main-wrapper .mid-wrapper .tags-wrp .class,
.main-wrapper .mid-wrapper .tags-wrp .topic {
  padding: 0.5rem 1rem;
  background: #6f6f6f;
  color: #fff;
  border-radius: 3px;
  display: flex;
  gap: 0.5rem;
  position: relative;
  cursor: pointer;
}
.main-wrapper .mid-wrapper .tags-wrp .diff .diff-ls,
.main-wrapper .mid-wrapper .tags-wrp .diff .class-ls,
.main-wrapper .mid-wrapper .tags-wrp .diff .topic-ls,
.main-wrapper .mid-wrapper .tags-wrp .class .diff-ls,
.main-wrapper .mid-wrapper .tags-wrp .class .class-ls,
.main-wrapper .mid-wrapper .tags-wrp .class .topic-ls,
.main-wrapper .mid-wrapper .tags-wrp .topic .diff-ls,
.main-wrapper .mid-wrapper .tags-wrp .topic .class-ls,
.main-wrapper .mid-wrapper .tags-wrp .topic .topic-ls {
  top: 105%;
  left: 0;
  background: #000;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  position: absolute;
  display: none;
  transition: all 0.2s ease;
}
.main-wrapper .mid-wrapper .tags-wrp .diff .diff-ls .ls,
.main-wrapper .mid-wrapper .tags-wrp .diff .class-ls .ls,
.main-wrapper .mid-wrapper .tags-wrp .diff .topic-ls .ls,
.main-wrapper .mid-wrapper .tags-wrp .class .diff-ls .ls,
.main-wrapper .mid-wrapper .tags-wrp .class .class-ls .ls,
.main-wrapper .mid-wrapper .tags-wrp .class .topic-ls .ls,
.main-wrapper .mid-wrapper .tags-wrp .topic .diff-ls .ls,
.main-wrapper .mid-wrapper .tags-wrp .topic .class-ls .ls,
.main-wrapper .mid-wrapper .tags-wrp .topic .topic-ls .ls {
  cursor: pointer;
  padding: 0.7rem 1rem;
  transition: all 0.3s ease;
}
.main-wrapper .mid-wrapper .tags-wrp .diff .diff-ls .ls:hover,
.main-wrapper .mid-wrapper .tags-wrp .diff .class-ls .ls:hover,
.main-wrapper .mid-wrapper .tags-wrp .diff .topic-ls .ls:hover,
.main-wrapper .mid-wrapper .tags-wrp .class .diff-ls .ls:hover,
.main-wrapper .mid-wrapper .tags-wrp .class .class-ls .ls:hover,
.main-wrapper .mid-wrapper .tags-wrp .class .topic-ls .ls:hover,
.main-wrapper .mid-wrapper .tags-wrp .topic .diff-ls .ls:hover,
.main-wrapper .mid-wrapper .tags-wrp .topic .class-ls .ls:hover,
.main-wrapper .mid-wrapper .tags-wrp .topic .topic-ls .ls:hover {
  background: #fff;
  color: #767676;
}
.main-wrapper .mid-wrapper .tags-wrp .diff .class-ls,
.main-wrapper .mid-wrapper .tags-wrp .class .class-ls,
.main-wrapper .mid-wrapper .tags-wrp .topic .class-ls {
  width: 7rem;
}
.main-wrapper .mid-wrapper .tags-wrp .diff .topic-ls,
.main-wrapper .mid-wrapper .tags-wrp .class .topic-ls,
.main-wrapper .mid-wrapper .tags-wrp .topic .topic-ls {
  padding: 1rem;
  gap: 0.7rem;
  font-size: 0.9rem;
  flex-wrap: wrap;
  flex-direction: row;
  width: 20rem;
}
.main-wrapper .mid-wrapper .tags-wrp .diff .topic-ls .ls,
.main-wrapper .mid-wrapper .tags-wrp .class .topic-ls .ls,
.main-wrapper .mid-wrapper .tags-wrp .topic .topic-ls .ls {
  padding: 0.4rem 1rem;
  border-radius: 30px;
  background: #fff;
  color: #767676;
}
.main-wrapper .mid-wrapper .tags-wrp .diff .active,
.main-wrapper .mid-wrapper .tags-wrp .class .active,
.main-wrapper .mid-wrapper .tags-wrp .topic .active {
  top: 100%;
  display: flex;
}
.main-wrapper .mid-wrapper .tags-wrp .search {
  padding: 0 1rem;
  border: 1px solid #eee;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.main-wrapper .mid-wrapper .tags-wrp .search input {
  border: none;
  padding: 0.7rem 1rem;
}
.main-wrapper .mid-wrapper .tags-wrp .search input:focus {
  outline: none;
}
.main-wrapper .mid-wrapper .filter-tags {
  flex-wrap: wrap;
  display: flex;
  gap: 0.7rem;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 1rem;
}
.main-wrapper .mid-wrapper .filter-tags .tags {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background: #d9d9d9;
}
.main-wrapper .mid-wrapper .filter-tags .tags span {
  cursor: pointer;
}
.main-wrapper .mid-wrapper .todo-atmp-slvd-wrp {
  width: 100%;
  display: flex;
  gap: 1rem;
}
.main-wrapper .mid-wrapper .todo-atmp-slvd-wrp .todo,
.main-wrapper .mid-wrapper .todo-atmp-slvd-wrp .attmp,
.main-wrapper .mid-wrapper .todo-atmp-slvd-wrp .slvd {
  cursor: pointer;
  color: #fff;
  padding: 0.5rem 1rem;
  background: #767676;
}
.main-wrapper .mid-wrapper .prblm-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.main-wrapper .mid-wrapper .prblm-wrapper .prblm-info {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  color: #6f6f6f;
  background: #d9d9d9;
  padding: 1rem;
  gap: 1rem;
}
.main-wrapper .mid-wrapper .prblm-wrapper .prblm-card {
  gap: 1rem;
  display: grid;
  grid-template-columns: 2rem 5fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 0.85rem;
  border-left: 3px solid #6f6f6f;
  cursor: pointer;
}
.main-wrapper .mid-wrapper .prblm-wrapper .prblm-card .submission, .main-wrapper .mid-wrapper .prblm-wrapper .prblm-card .likes, .main-wrapper .mid-wrapper .prblm-wrapper .prblm-card .difficulty {
  text-align: center;
}
.main-wrapper .l-sidebar {
  overflow-y: scroll;
  height: 100vh;
  width: 26rem;
  border: 1px solid #eee;
  transition: all 0.3s ease-in;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  gap: 1.2rem;
  background: #fff;
}
.main-wrapper .l-sidebar::-webkit-scrollbar {
  display: none;
}
.main-wrapper .l-sidebar .user-img-name {
  color: #767676;
  padding: 2rem 0 0 0;
  text-align: center;
}
.main-wrapper .l-sidebar .user-img-name img {
  width: 5rem;
  border-radius: 50%;
}
.main-wrapper .l-sidebar .ttl-acry-wrp {
  display: flex;
  gap: 0.7rem;
}
.main-wrapper .l-sidebar .ttl-acry-wrp .ttl,
.main-wrapper .l-sidebar .ttl-acry-wrp .acry {
  padding: 0.5rem;
  background: #d9d9d9;
  color: #767676;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.main-wrapper .l-sidebar .esy-mdm-hrd {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.main-wrapper .l-sidebar .esy-mdm-hrd .emh {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.main-wrapper .l-sidebar .esy-mdm-hrd .emh .emh-dtl {
  display: flex;
  justify-content: space-between;
}
.main-wrapper .l-sidebar .esy-mdm-hrd .emh .emh-pgrs {
  border: 1px solid #d9d9d9;
  height: 0.85rem;
  border-radius: 10px;
  position: relative;
}
.main-wrapper .l-sidebar .esy-mdm-hrd .emh .emh-pgrs .pgrs {
  position: absolute;
  width: 56%;
  height: 100%;
  border-radius: 10px;
  background: #ababab;
}
.main-wrapper .l-sidebar .tst-ntfy-wrp {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.main-wrapper .l-sidebar .tst-ntfy-wrp div {
  padding: 0.8rem 0.5rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: #8d8d8d;
  background: #d9d9d9;
}
.main-wrapper .profile-icon-div {
  display: none;
}

@media screen and (max-width: 1024px) {
  .main-wrapper .l-sidebar {
    width: 100%;
    right: 0;
    position: fixed;
    background: #fff;
    transform: translate(100%);
  }
  .main-wrapper .profile-toggle {
    transform: translate(0);
  }
  .main-wrapper .profile-icon-div {
    position: absolute;
    top: 2%;
    right: 2%;
    display: flex;
    gap: 0.5rem;
    padding: 0.7rem 1rem;
    border-radius: 20px;
    border: 1px solid #d9d9d9;
    cursor: pointer;
    background: #fff;
  }
}
@media screen and (max-width: 786px) {
  .main-wrapper .mid-wrapper .mid-top-cont .mid-top-left {
    gap: 1rem;
  }
  .main-wrapper .mid-wrapper .mid-top-cont .mid-top-right {
    display: none;
  }
}/*# sourceMappingURL=mainpage.css.map */