.problem-tags-wrapper {
  padding: 2rem 1rem 1rem 1rem;
  max-width: 60rem;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.problem-tags-wrapper .tags-wrapper1 .ques-level {
  display: flex;
  gap: 1rem;
}
.problem-tags-wrapper .tags-wrapper1 .ques-level button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  color: #666;
  cursor: pointer;
}
.problem-tags-wrapper .tags-wrapper1 .ques-level button:hover {
  background: rgba(0, 10, 32, 0.1529411765);
}
.problem-tags-wrapper .tags-wrapper2 {
  display: flex;
  gap: 1rem;
}
.problem-tags-wrapper .tags-wrapper2 .tag2 select {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  color: #666;
  cursor: pointer;
}
.problem-tags-wrapper .tags-wrapper2 .search-topic {
  display: flex;
  align-items: center;
  background: #e9e9ed;
  padding: 0 0.7rem;
  border-radius: 5px;
  color: #666;
  gap: 0.5rem;
}
.problem-tags-wrapper .tags-wrapper2 .search-topic input {
  background: #e9e9ed;
  border: none;
}
.problem-tags-wrapper .tags-wrapper2 .search-topic input:focus {
  outline: none;
}
.problem-tags-wrapper .filters-div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
}
.problem-tags-wrapper .filters-div .tags {
  display: flex;
  gap: 0.7rem;
  text-align: center;
  align-items: center;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  color: #666;
  background: #efefef;
}
.problem-tags-wrapper .filters-div .tags span {
  cursor: pointer;
  font-size: 0.8rem;
  display: flex;
}
.problem-tags-wrapper .problem-wrapper {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}
.problem-tags-wrapper .problem-wrapper h3 {
  text-transform: capitalize;
  color: #555;
  font-size: 1.4rem;
  font-weight: 500;
}
.problem-tags-wrapper .problem-wrapper .problem-cont {
  display: flex;
  flex-direction: column;
}
.problem-tags-wrapper .problem-wrapper .problem-cont .problem-title {
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "status title title difficulty";
}
.problem-tags-wrapper .problem-wrapper .problem-cont .problem-title .status {
  grid-area: status;
}
.problem-tags-wrapper .problem-wrapper .problem-cont .problem-title .title {
  grid-area: title;
}
.problem-tags-wrapper .problem-wrapper .problem-cont .problem-title .difficulty {
  grid-area: difficulty;
}
.problem-tags-wrapper .problem-wrapper .problem-cont .problem-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "status title title difficulty";
  cursor: pointer;
  padding: 0.7rem 1rem;
  color: #444;
}
.problem-tags-wrapper .problem-wrapper .problem-cont .problem-item .status {
  grid-area: status;
}
.problem-tags-wrapper .problem-wrapper .problem-cont .problem-item .title {
  text-align: start;
  grid-area: title;
}
.problem-tags-wrapper .problem-wrapper .problem-cont .problem-item .difficulty {
  grid-area: difficulty;
}
.problem-tags-wrapper .problem-wrapper .problem-cont .problem-item .easy {
  color: #2CC46B;
}
.problem-tags-wrapper .problem-wrapper .problem-cont .problem-item .medium {
  color: #FEBD24;
}
.problem-tags-wrapper .problem-wrapper .problem-cont .problem-item .hard {
  color: #FA7D8D;
}
.problem-tags-wrapper .problem-wrapper .problem-cont .problem-item:nth-child(even) {
  background: #f7f8fa;
}/*# sourceMappingURL=mainpage.css.map */