.problem-tags-wrapper {
  padding: 2rem 1rem 1rem 1rem;
  max-width: 60rem;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .tags-wrapper1 {
    .ques-level {
      display: flex;
      gap: 1rem;
      button {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        color: #666;
        cursor: pointer;
        &:hover {
          background: #000a2027;
        }
      }
    }
  }

  .tags-wrapper2 {
    display: flex;
    gap: 1rem;
    .tag2 {
      select {
        padding: 0.5rem 1rem;
        border-radius: 5px;
        border: none;
        color: #666;
        cursor: pointer;
      }
    }

    .search-topic {
      display: flex;
      align-items: center;
      background: #e9e9ed;
      padding: 0 0.7rem;
      border-radius: 5px;
      color: #666;
      gap: 0.5rem;
      input {
        background: #e9e9ed;
        border: none;
        &:focus {
          outline: none;
        }
      }
    }
  }

  .filters-div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
    .tags {
      display: flex;
      gap: 0.7rem;
      text-align: center;
      align-items: center;
      padding: 0.5rem;
      border: none;
      border-radius: 5px;
      color: #666;
      background: #efefef;
      span {
        cursor: pointer;
        font-size: 0.8rem;
        display: flex;
      }
    }
  }
  .problem-wrapper {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    h3 {
      text-transform: capitalize;
      color: #555;
      font-size: 1.4rem;
      font-weight: 500;
    }
    .problem-cont {
      display: flex;
      flex-direction: column;
      .problem-title {
        padding: 0.5rem 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "status title title difficulty";

        .status {
          grid-area: status;
        }
        .title {
          grid-area: title;
        }
        .difficulty {
          grid-area: difficulty;
        }
      }
      .problem-item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "status title title difficulty";
        cursor: pointer;
        padding: 0.7rem 1rem;
        color: #444;
        .status {
          grid-area: status;
        }
        .title {
          text-align: start;
          grid-area: title;
        }
        .difficulty {
          grid-area: difficulty;
        }
        .easy{ color: #2CC46B;}
        .medium{color: #FEBD24;}
        .hard{color: #FA7D8D;}
        &:nth-child(even) {
          background: #f7f8fa;
        }
      }
    }
  }
}
