.navbar-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 0rem;
    border-bottom: 1px solid #eee;
    
    .nav-list{
        color: #666;
        display: flex;
        gap: 2rem;
        a{
            color: #666;
            text-decoration: none;
            &:hover{
                color: #333;
            }
        }
    }
    .nav-list2{
        font-size: 1.2rem;
        gap: 1.5rem;
        align-items: center;
        .streak{
            align-items: center;
            display: flex;
        }
        a{
            display: grid;
            place-items: center;
            border-radius: 5px;
            padding: 0.5rem;
            transition: all 0.2s linear;
            &:hover{
                background: rgba(128, 128, 128, 0.301);
            }
        }
    }
}