.login-wrapper{
    .login-card{
        .form-control{
            #remember{width: auto;}
            &:nth-child(3){
                font-size: 1rem;
                border-bottom: none;
            }
        }
        .create-acc{
            font-size: 1rem;
            color: #222;
        }
        .other-login{
            cursor: pointer;
            border: 1px solid #2222223f;
            font-size: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            padding: 0.5rem 2rem;
            width: 100%;
            border-radius: 2px;
            svg{
                font-size: 1.7rem;
                color: red;
            }
        }
    }
}